:root {
    --blade-color: 120;
    --blade-brightness: 50%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #222;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

input,label{
    cursor:pointer;
}

input{
    display:inline-block;
    text-align:center;
    margin-left: 115px;
    margin-top: 20px;
}

.colorpicker label{
    display:block;
}

/* lightsaber styling */

.lightsaber{
    position:relative;
    margin: 440px 0 0 660px;  
}

#on-off{
    position: absolute;
    height:0;
    width:0;
}

.hilt{
    position: absolute;
    height: 5rem;
    width: .75rem;
    background: red;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    background-image: linear-gradient(
        rgb(126, 123, 123) 0 10px,
        rgb(172, 150, 30) 10px 20px,
        black 20px 35px,
        silver 35px 38px,
        black 38px 40px,
        silver 40px 43px,
        black 43px 45px,
        silver 45px 48px,
        black 48px 50px,
        silver 50px 53px,
        black 53px 55px,
        silver 55px 58px,
        black 58px 60px,
        silver 60px
    );
}

.left,.right{
    margin-left: -10px;
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 30px solid silver;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: -1;
}

.right{
    transform: rotate(180deg);
    margin-left: -18px;
}

.left-blade,.right-blade{
    position: absolute;
    width: 3rem;
    height: 10px;
    margin-top: 5px;
    z-index: -2;
    box-shadow: 
        0 0 1rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
        0 0 1.5rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
        0 0 2rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
        0 0 3rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1);
}

.right-blade{
    margin-left: -58px;
    background: white;
    border-radius: 120% 0 0 100%;
    transition: transform 5s ease-out;
    transform-origin: right;
}

.left-blade{
    margin-left: 21px;
    background: white;
    border-radius: 0 120% 100% 0;
    transition: transform 5s ease-out;
    transform-origin: left;
}

.blade{
    position: absolute;
    height: 24rem;
    width: .75rem;
    background: white;
    margin-top: -380px;
    border-radius: 8px 8px 0 0;
    box-shadow: 
    0 0 1rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
    0 0 1.5rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
    0 0 2rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
    0 0 3rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
    0 0 4rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1),
    0 0 4.5rem hsl( var(--blade-color) 100% var(--blade-brightness) / 1);
   transition: transform 5s ease-out;
   transform-origin: bottom;  
}

/* turning lightsaber on and off */

#on-off:not(:checked) + .blade{
    transform: scaleY(0);
}

#on-off:checked + .blade{
    transform: scaleY(1);
}

#on-off:not(:checked) ~ .left-blade{
    transform: scaleX(0);
}

#on-off:checked ~ .left-blade{
    transform: scaleX(1);
}

#on-off:not(:checked) ~ .right-blade{
    transform: scaleX(0);
}

#on-off:checked ~ .right-blade{
    transform: scaleX(1);
}


/* change color */
input[id="green"]:checked ~ .lightsaber{
    --blade-color: 120;
}

#green:checked ~ .lightsaber .blade{
    background: rgb(145, 253, 163);
}

#green:checked ~ .lightsaber .left-blade{
    background: rgb(145, 253, 163);
}

#green:checked ~ .lightsaber .right-blade{
    background: rgb(145, 253, 163);
}

input[id="blue"]:checked ~ .lightsaber{
    --blade-color: 240;
}

#blue:checked ~ .lightsaber .blade{
    background: rgb(145, 152, 253);
}

#blue:checked ~ .lightsaber .left-blade{
    background: rgb(145, 152, 253);
}

#blue:checked ~ .lightsaber .right-blade{
    background: rgb(145, 152, 253);
}

input[id="yellow"]:checked ~ .lightsaber{
    --blade-color: 60;
}

#yellow:checked ~ .lightsaber .blade{
    background: rgb(255, 240, 155);
}

#yellow:checked ~ .lightsaber .left-blade{
    background: rgb(255, 240, 155);
}

#yellow:checked ~ .lightsaber .right-blade{
    background: rgb(255, 240, 155);
}

input[id="purple"]:checked ~ .lightsaber{
    --blade-color: 285;
}

#purple:checked ~ .lightsaber .blade{
    background: rgb(221, 126, 205);
}

#purple:checked ~ .lightsaber .left-blade{
    background: rgb(221, 126, 205);
}

#purple:checked ~ .lightsaber .right-blade{
    background: rgb(221, 126, 205);
}

input[id="red"]:checked ~ .lightsaber{
    --blade-color: 360;
}

#red:checked ~ .lightsaber .blade{
    background: rgb(253, 145, 145);
}
#red:checked ~ .lightsaber .left-blade{
    background: rgb(253, 145, 145);
}
#red:checked ~ .lightsaber .right-blade{
    background: rgb(253, 145, 145);
}

input[id="dark"]:checked ~ .lightsaber{
    --blade-color: 360;
}

#dark:checked ~ .lightsaber .blade{
    background: rgb(14, 8, 8);
    border-radius: 75% 0 0 0;
    --blade-brightness: 100%;
}

#dark:checked ~ .lightsaber .left-blade{
    border-radius: 0 75% 0 0;
    --blade-brightness: 100%;
    background: black;
}
#dark:checked ~ .lightsaber .right-blade{
    border-radius: 0 0 0 75%;
    --blade-brightness: 100%;
    background: black;
}
